@import url('https://fonts.googleapis.com/css2?family= Open +Sans & display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(120deg,#8fbc8f, #2f4f4f );
    display: flex;
    align-items: center;
    justify-content: center;
}
.rel贸gio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 10px 15px;
}
.rel贸gio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: azure;
    background: rgba(5, 5, 5, 0.9);
    box-shadow: 5px 5px 15px;
    border-radius: 10px;
    letter-spacing: 3px;
}

.rel贸gio span {
    font-weight: bolder;
    font-size: 60px;
}

.rel贸gio span.tempo {
    font-size: 10px;
}